<!DOCTYPE html>
<html xmlns:th="http://www.thymeLeaf.org" >

<head>
	<meta charset='utf-8'>
	<meta http-equiv='X-UA-Compatible' content='IE=edge'>
	<title>Page Title</title>
	<meta name='viewport' content='width=device-width, initial-scale=1'>

</head>

<body>
<div th:replace="AdminHome"></div>
<div class="content">
<div class="" style="max-width: 500px;">
			<h1>Add Product</h1>

   
	<form th:action="@{/admin/SavingProduct}" method="POST" th:object="${product}" enctype="multipart/form-data">
			<div class="container">
					<input type="text" style="display: none;" th:field="*{productId}">

				<div class="form-group">
					<label for="category">Product Name</label>
					<input name="productName" type="text" th:field="*{productName}" class="form-control"
						placeholder="Enter name">
				</div>

				<div class="form-group">
					<label for="category">Product price</label>
					<input name="productPrice" type="number" th:field="*{productPrice}" class="form-control"
						placeholder="Enter price">
				</div>
				<div class="form-group">
					<label for="category">Product discount</label>
					<input name="productDiscount" type="number" th:field="*{productDiscount}" class="form-control"
						placeholder="Enter %">
				</div>
			
				<div class="form-group">
					<label for="category">Weight</label>
					<input name="productWeight" type="number" th:field="*{productWeight}" class="form-control"
						placeholder="Enter weight">
				</div>
				<div class="form-group">
									<small id="emailHelp" class="form-text text-muted">Enter a category for products</small>

				
					<label for="category">Category</label>
					<select class="form-control" th:field="*{categoryid}" >
						<option th:each="c :${category}"	th:value="${c.categoryId}"	th:text="${c.categoryName}"></option>
					</select>
				</div>
					<div class="form-group">
					<label for="category">Description</label>
					<textarea name="productDescription" style="min-height: 300px;" type="text" th:field="*{productDescription}" class="form-control"
						placeholder="Enter description"></textarea>
				</div>
				<div class="form-group">
					<label for="product">Image</label>
					<input type="file" th:name ="productImage"  >
				</div>
			



				<button type="submit" class="btn btn-primary">Add here</button>
			</div>
		</form>


</div>
        </div>

</body>

</html>