<!DOCTYPE html>
<html xmlns:th="http://www.thymeLeaf.org">

<head>
	<meta charset='utf-8'>
	<meta http-equiv='X-UA-Compatible' content='IE=edge'>
	<title>Page Title</title>
	<meta name='viewport' content='width=device-width, initial-scale=1'>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
		integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link rel="stylesheet" href="navbar.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">

</head>

<body>
	<div th:replace="Navbar"></div>

	<br><br>

	<div class="container">
		<div class="col-md-5 offset-md-4">

			<div class="card" style="box-shadow: 3px 3px 10px 0px grey;">
				<div class="radius text-center primarybg">
					<div class="card-header">
						<div th:if="${session.message}" th:classappend="${session.message.type}"
							class=" alert-success" role="alert">
							<p th:text="${session.message.message}"></p>
							<th:block th:text="${#session.removeAttribute('message')}"></th:block>
						</div>

						<h3>Register</h3>
					</div>

				</div>
				<div class="card-body">
					<form th:action="@{/do_register}" method="POST" th:object="${user}">
						<div class="form-group">
							<label for="exampleInputEmail1">UserName</label>
							<input name="userName" type="text" class="form-control" th:value="${user.userName}"
								aria-describedby="emailHelp" placeholder="Enter username">

						</div>


						<div class="form-group">
							<label for="exampleInputEmail1">Email address</label>
							<input name="userEmail" type="email" class="form-control" th:value="${user.userEmail}"
								id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
							<small id="emailHelp" class="form-text text-muted">We'll never share your email with
								anyone else.</small>
						</div>
						<div class="form-group">
							<label for="exampleInputPassword1">Password</label>
							<input name="userPassword" type="password" th:value="${user.userPassword}"
								class="form-control" id="exampleInputPassword1" placeholder="Password">
						</div>
						<div class="form-group">
							<label for="exampleInputPassword1">Gender :</label>

							<input type="radio" name="userGender" value="male">
							<label for="html">Male</label>
							<input type="radio" name="userGender" value="female">
							<label for="css">Female</label><br>


						</div>

					

						<div class="form-group form-check">
							<input type="checkbox" name="agreement" class="form-check-input" />
							<label for="agreement">agree terms and conditions</label>

						</div>
						<div class="text-center">
							<button type="reset" class="btn"
								style="background-color: rgb(157, 218, 218);">Reset</button>

							<button type="submit" class="btn primarybg  ">SignUp</button>
						</div>
					</form>
				</div>

			</div>
		</div>
		<br><br><br>
</body>

</html>