<!DOCTYPE html>
<html xmlns:th="http://www.thymeLeaf.org">

<head>
	<meta charset='utf-8'>
	<meta http-equiv='X-UA-Compatible' content='IE=edge'>
	<title>Page Title</title>
	<meta name='viewport' content='width=device-width, initial-scale=1'>

</head>

<body>
	<div th:replace="AdminHome"></div>
	<div class="content">
		<form th:action="@{/admin/UpdatingCategory/{id}(id=${category.categoryId})}" method="POST"
			th:object="${category}" enctype="multipart/form-data">

			<div class="container">
				<input name="categoryId" style="display: none;" th:field="*{categoryId}">
				<div class="form-group">
					<label for="category">Category Name</label>
					<input name="categoryName" style="max-width: 300px;" type="text" th:field="*{categoryName}"
						class="form-control" placeholder="Enter Name">
					<small id="emailHelp" class="form-text text-muted">Enter a category for products</small>
				</div>
			<div class="form-group">
					<label for="category">Image</label>
					<input type="file" th:name ="categoryImage">
				</div>


				<button type="submit" class="btn btn-primary">Add here</button>
			</div>
		</form>
	</div>
</body>

</html>