<!DOCTYPE html>
<html xmlns:th="http://www.thymeLeaf.org" th:replace="navbar::Layout(~{::section})">

<head>
	<meta charset='utf-8'>
	<meta http-equiv='X-UA-Compatible' content='IE=edge'>
	<title>Page Title</title>
	<meta name='viewport' content='width=device-width, initial-scale=1'>

</head>

<body>
	<section>
		<form th:action="@{/admin/allProduct/updating/{id (id=${product.productId})}}" method="POST" th:object="${product}">

			<div class="container">
				<div class="form-group">
					<label for="category">Product Name</label>
					<input name="productName" type="text" th:field="*{productName}" class="form-control"
						placeholder="Enter Name">
					<small id="emailHelp" class="form-text text-muted">Enter a category for products</small>
				</div>

				<div class="form-group">
					<label for="category">Product price</label>
					<input name="productPrice" type="text" th:field="*{productPrice}" class="form-control"
						placeholder="Enter Name">
					<small id="emailHelp" class="form-text text-muted">Enter a category for products</small>
				</div>
				<div class="form-group">
					<label for="category">Description</label>
					<input name="productDescription" type="text" th:field="*{productDescription}" class="form-control"
						placeholder="Enter Name">
					<small id="emailHelp" class="form-text text-muted">Enter a category for products</small>
				</div>
				<div class="form-group">
					<label for="category">Weight</label>
					<input name="productWeight" type="text" th:field="*{productWeight}" class="form-control"
						placeholder="Enter Name">
					<small id="emailHelp" class="form-text text-muted">Enter a category for products</small>
				</div>
				<div class="form-group">
					<label for="category">Category</label>
					<select class="form-control" th:field="*{categoryid}" >
						<option th:each="c :${category}"	th:value="${c.categoryId}"	th:text="${c.categoryName}"></option>
					</select>
				</div>
					<div class="form-group">
					<label for="product">Image</label>
					<input type="file" th:value="${p.productImage}" th:name ="productImage"  >
				</div>


				<button type="submit" class="btn btn-primary">Add here</button>
			</div>
		</form>

	</section>
</body>

</html>